.toolbar-filler {
    flex: 1 1 auto
}

#appToolbar{
    background: rgb(24, 23, 23);
}
.app-sidenav{
    background:#ffffff
}
 mat-sidenav{
    color: azure;
}
/*
mat-sidenav-container{
    margin-top: 10%;    
} */