<h1>Jobs Available</h1>


<!-- <mat-card class="container"> -->

  <mat-card-header>
    <div class="search">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter jobs">
          </mat-form-field>
    </div>
    <mat-card-title align="end"> </mat-card-title>
  </mat-card-header>


<mat-grid-list cols="1" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile class="card-deck-container" *ngFor="let x of jobs">
  

    <mat-card>
      
      <mat-card-title>Company : {{x.companyName}} <div class="button"> <button mat-raised-button color="warn" (click)="deleteJob(x.jobId)">Delete</button> </div> </mat-card-title>
      <mat-card-content> <i>Role:{{x.jobProfile}} </i>
        

        <p>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>

              </mat-panel-title>
              <mat-panel-description>
                Role Description -> {{x.jobDescription}}
              </mat-panel-description>
            </mat-expansion-panel-header>
         
          </mat-expansion-panel>
        </p>
      </mat-card-content>

     
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
