.fa-heart {
    color: hotpink;
  }

<<<<<<< HEAD
  
=======
  .attribution{
    
      float: center;
  }
  .navbar{
      width: 100%;
    position: fixed;
    bottom: 0px;
  }
>>>>>>> 8ed5dc7c19ec7b7ddc894db948045ad68de5e671
