<!-- <section class="container">
    <div class="left-half">
      <article>
        <h1>Looking For Job?</h1>
        <p> <a (click)="routeSlogin()">
          
          Seeker Login
        </a></p>
      </article>
    </div>
    <div class="right-half">
      <article>
        <h1>Looking for Right Candidate?</h1>
        <p> <a (click)="routeElogin()">
         
          Employeer Login
        </a></p>
      </article>
    </div>
  </section> -->

  <div class="container">
      <div class="split left">
        <h1>The Job Seeker</h1>
        <a  (click)="routeSlogin()" class="button"><i>Click Here</i></a>
      </div>
      <div class="split right">
        <h1>The Employer</h1>
        <a (click)="routeElogin()" class="button">Click Here</a>
      </div>
    </div>
